<div class="padding">
	<div class="text-center text-white"
		<%= link_to 'Tag a place', stores_path(a: "tag"), :class => 'heading' %>
		<br/><br/>
		<%= link_to 'Find a place', stores_path(a: "find"), :class => 'heading' %>
		<br/>
		<%= image_tag 'frontpage.jpg', :class => 'firstpage' %>
		<br/>
		<% if user_signed_in? %>
			<%= link_to 'Sign-out', destroy_user_session_path, :method => :delete, :class => 'heading' %>
		<% else %>
			<%= link_to 'Login', new_user_session_path, :class => 'heading button' %>
			<br/>
			<%= link_to 'Sign-up', new_user_registration_path, :class => 'heading button' %>
		<% end %>
		<%if user_signed_in? %>
			<br/>
			<%= link_to 'Profile', user_path(current_user), :class => 'heading button' %>
		<% end %>
	</div>
</div>