<%= link_to root_path do %>
  <%= image_tag 'logo.jpg', :class => 'logo' %>
<% end %>

<div class="text-center">
	<div class="text-white">
		<br/>
		<h1><%= @store.name %></h1>
		<br/>
		<%= simple_form_for @store do |f| %>
			<h3><%= "Fruits" %></h3>
			<%= f.input :apples, as: :boolean %>
			<%= f.input :oranges, as: :boolean %>
			<%= f.input :bananas, as: :boolean %>
			<%= f.input :grapes, as: :boolean %>
			<%= f.input :other_fruits, as: :boolean %>
			<%= f.input :no_fruits, as: :boolean %>
			<br/>
			<h3><%= "Vegetables" %></h3>
			<%= f.input :lettuce, as: :boolean %>
			<%= f.input :carrots, as: :boolean %>
			<%= f.input :onions, as: :boolean %>
			<%= f.input :potatoes, as: :boolean %>
			<%= f.input :other_vegetables, as: :boolean %>
			<%= f.input :no_vegetables, as: :boolean %>
	</div>
			<br/>
			<%= f.submit 'Update' %>
			<% end %>
</div>