<!DOCTYPE html>
<html>
<head>
  <title>Fresh</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%# REMOVE BEFORE SITE IS IN USE %>
	<div class="text-center text-white">
		<h1><%= "This site is in test mode.  Current information is for test puposes only!" %></h1>
	</div>

	<% if notice.present? %>
		<p class="alert alert-info"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<%= yield %>

</body>
</html>
